<form [formGroup]="form" (ngSubmit)="register($event)">
  <app-card-auth
    title="Crea tu cuenta con tu email"
    [disabled]="form.invalid || loading"
    [loading]="loading"
    btnSubmitName="Registrarme"
    [btnFooterVisible]="true"
    btnFooterName="¿Ya tenés una cuenta?"
    btnFooterRouterLink="/auth/login"
  >
    <mat-form-field class="w-100">
      <mat-label>Nombre *</mat-label>
      <input formControlName="firstName" matInput type="text" autofocus />
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Apellido *</mat-label>
      <input formControlName="lastName" matInput type="text" />
    </mat-form-field>

    <br />

    <mat-form-field class="w-100">
      <mat-label>Email *</mat-label>
      <input formControlName="email" matInput type="email" />
    </mat-form-field>

    <br />

    <mat-form-field class="w-100">
      <mat-label>Contraseña *</mat-label>
      <input formControlName="password" matInput type="password" />
    </mat-form-field>
  </app-card-auth>
</form>
