<form [formGroup]="form" (ngSubmit)="login($event)">
  <app-card-auth
    subtitle="Ingresá con tu email"
    [disabled]="form.invalid || loading"
    [loading]="loading"
    [btnFooterVisible]="true"
    [alert]="alert"
    btnSubmitName="Ingresar"
    btnFooterName="¿No tenés cuenta?"
    btnFooterRouterLink="/auth/register"
  >
    <mat-form-field class="w-100">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput type="email" autofocus />
    </mat-form-field>

    <br />

    <mat-form-field class="w-100">
      <mat-label>Contraseña</mat-label>
      <input formControlName="password" matInput type="password" />
    </mat-form-field>
  </app-card-auth>
</form>
